
%h3
  Welcome, 
  =App.find_by_user_id(current_user.id).first_name + '!'

%p.prospectivemsg
  Thank you for expressing interest in becoming a volunteer for the Learning Shelter.
  As a volunteer, you will get the chance to interact with our clients and plan events for our organization.
