<h1>The learning Shelter</h1>
<%= link_to "about", about_path %>
<h1>Dashboard</h1>
The Learning Shelter

<h2> Apply as a client</h2>

<div> Apply as a client to our 90-day program! </div>

<%# TODO =============================


<%= link_to "apply_client", apply_client_path %>




<h2> Apply as a volunteers</h2>

<div> We need all the help we can get, apply as a volunteer today!</div>

<%# TODO ============================= 
<%= link_to "apply_volunteer", apply_volunteer_path %>
