<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>
      <h1>Welcome to the learning shelter!</h1>
      <p> You have successfully signed up to the Learning Shelter!</p>
      <p>Please remember to apply to the positions available for the program</p>
      <p>Thank you for joining and have a great day!</p>
    </body>
</html>

