
  <div class="sections" id="home">
    <!-- sections -->
    <section id="slide-1" class="homeSlide" data-start="background-position:50% 0px", 
          data-70-top-bottom="background-position:50% -80px">
      <div class="background">
        <div class="container">
          <div class="foreground-content jumbotron info-panel" 
          data-os-animation="none" data-os-animation-delay="0s" data-60-top-bottom="opacity:0" 
          data-start="opacity:1" data-center="opacity:1">  
            <%= image_tag "logo_large.png", :class => "center-block center-offset" %>
          </div>
        </div>
      </div>
    </section>

  </div>



