
table
{
border-collapse: collapse;
}

th
{
background-color: yellow;
font-size: 10pt;
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

td
{
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

table, th, td
{
border: 1px solid black;
font-family: Georgia;
margin: auto
}

body#admin_body
{
background-image: none;
}

div#usertable
{
text-align: center;

}

.learningShelterLogo
{

}
