/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 

#flash_notice{
 border: solid 4px #26722D;
 background-color: #A4E7A0;
}

#flash_alert{
 border: solid 4px red;
 background-color: pink;
}

#flash_notice, #flash_alert{
  border-radius: 10px;
  color: black;
  z-index: 999;
  position: absolute;
  left: 200px;
  font-weight: bold;
  width: 10%;
  margin: 20px;
  padding: 10px;
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn 2 alternate;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn 2 alternate;
  animation:fadeIn 2 alternate;
 
  -webkit-animation-fill-mode:both;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:both;
  animation-fill-mode:both;
 
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  animation-delay:1s;
 -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
        p {
                font-size: 110%;
                margin: 15px 0;
        }
}
