// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: myfont;
  /*src:url('AmaticSC-Regular.ttf');*/
  /*src: local("myfont"), asset_path "AmaticSC-Regular.ttf" ;*/
}
$panel-color: rgba(60,60,60,0.8);

a{text-decoration: none; }

.center-offset {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

body { 
  font: 14px;
  color:black;
	font-family: 'Open Sans','Lucida Grande',Sans-Serif; 
  position: absolute;
	top:0px;
  bottom: 0px;
	left:0px;
  right: 0px;
}

.foreground-content{
  z-index:2;
  position:relative;
  display:block;
}

.background-image{
    z-index:0;
    position:absolute;
    top:60px;
    display:block;
}

.info-panel{
  margin-top: 15vh;
  background-color: $panel-color;

}

.sections #slide-1{
background-image: image-url("section-1.jpg");
background-repeat: no-repeat; 
background-size: cover; 
background-attachment: fixed;
background-position: 50% -22.6866px;

}

.mainform a{color: white;}
.mainform a:hover{color: orange;}


