#slideshow {
  width:105%;
}
img {
	border: solid white 2px;
}
.arrows {
	text-decoration:none;
	color:black;
	background-color:beige;
	border-radius:5px;
	border: solid gray 1px;
	box-shadow: 2px 3px 4px #030303;
	display:inline;
	padding-left:8px;
	padding-right:8px;
	position:relative;
	bottom:140px;
	//height:30px;
	//width:30px;
	font-size:18pt;
	font-weight:bold;
	text-align:center;
}
.arrows:active {
	box-shadow: 1px 2px 2px #030303;
	bottom:139px;
}
.arrows:hover {
	background-color:white;
}
#leftarrow {
	left:20px;
}
#rightarrow {
	right:20px;
}

