
header .navbar-fixed-top{
  background-color: black;
  color:white;
}

.mainform {
  background-color:rgba(255,234,196,0.75);
  padding:35px;
  width:80%;
}

#admincalendarwrapper {
  background-color:#CECEF6;
  padding:35px;
  border-radius:5px;
}

#usercalendarwrapper {
  background-color:rgba(255,234,196,0.75);
  padding:35px;
  border-radius:5px;
}

